name: Update README

on:
  push:
    branches:
      - main  # 触发分支

jobs:
  update_readme:
    runs-on: ubuntu-latest
    
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Set up Git


