name: Directory Structure Update

on: [push]

jobs:
  update-directory-structure:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Git
      run: |
        git config --global user.email "2755631915@qq.com"
        git config --global user.name "hdb123456"
        # 生成目录结构
        tree > directory.txt

    - name: Update structure.txt
      run: |
        echo "# Directory Structure" > structure.txt
        echo "" >> structure.txt
        echo "Generated at: $(date -R)" >> structure.txt
        echo "" >> structure.txt
        cat directory.txt >> structure.txt
        git add structure.txt
        git commit -m "Update directory structure in structure.txt"
