name: Update README

on:
  push:
    branches:
      - main  # 触发分支

jobs:
  update_readme:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Run update_readme.sh script
      run: ./.github/workflows/update_readme.sh
