name: 初始化

permissions:
    contents: write
on: push

jobs:
    npm-build:
        name: npm-build工作
        runs-on: ubuntu-lastest

        steps:
        - name: 读取仓库
          uses: actions/checkout@v4

        - name: 安装依赖|项目打包
          run: |
            npm install
            npm run build

        - name: 部署
          uses: JamesIves/github-pages-deploy-action@v4
          with:
            branch: gh-pages
            folder: build
        
