name: 初始化

on: push

jobs:
    npm-build:
        name: npm-build工作
        runs-on: ubuntu-lastest

        steps:
        - name: 读取仓库
          uses: actions/checkout@v4

        - name: 安装依赖
          run: npm install
        
        - name: 项目打包
          run: npm run build
        
